<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastApi</title>
    <meta name="description" content="">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1006/1006771.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0%;
            padding: 0%;
        }
        body {
            box-sizing: border-box;
            margin: 0%;
            padding: 0%;
            font-family: 'Jost', sans-serif;
            background-color: #fff;
        }
    </style>
</head>
<body>
{% block body %}
<div style="box-sizing: border-box; background-color:#101217; max-width: 600px; border-radius: 24px; width: 100%; margin: 30px auto; padding: 16px;">
    <div style="padding: 0px 32px;">
        <a target="_blank" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/1006/1006771.png" alt="LogoBanner" width="100%" height="auto" style="display: block; margin-bottom: 16px;" />
        </a>
    </div>
    <div style="padding: 32px;">
        <h1 style="font-size: 26px; font-weight: 600; margin: 0; text-align: start; color: #FFF;">Welcome to FastAPI SSO</h1>

        <h2 style="font-size: 16px; margin-bottom: 27px; font-weight: 400;">Hi <span style="font-weight: 600;">{{ full_name }}</span></h2>
        <p style="margin-bottom: 24px; font-size: 14px; color: #FFF;">Welcome to <span style="color: #FFCC57;">FastAPI SSO</span>. Here we believe in the power of collective kindness.</p>
        <p style="margin-bottom: 27px; font-size: 14px; color: #FFF;">Your decision to be a part of our app means that you are joining a network of individuals dedicated to making a positive impact on the lives of animals in need.</p>
        <span>Thanks,</span>
        <span style="display: block; font-weight: 600; color: #FFF;">FastAPI SSO</span>
    </div>
</div>
{% endblock %}
</body>
</html>